* {
  font-family: 'Roboto', sans-serif !important;
}

.sidebar {
  height: 100vh;
  position: fixed;
}

.sidebar .nav:first-child {
  margin-top: 90px;
}

.search-wrapper {
  width: 100%;
}

.search-wrapper > .search-bar {
  width: 30%;
  margin-left: 30%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar.navbar-expand-md {
  background-color: #083e52;
}

/*****************/

ul ul, ol ul {
  list-style-type: disc;
}

.primary-btn {
  margin-right: 5px;
}


.add-code, .display-snippet {
  border-radius: 2px;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 35px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;  
  width: 40%;
  margin-right: auto;
}

.display-snippet {
  margin: 20px;
  display: inline-block;
  max-height: 600px;
  overflow: hidden;
  border-bottom: 20px solid #ededed;
}

.display-item{
  width: 65%;
  margin-left: 50px;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-code form {
  width: 100%;
  overflow: hidden;
}

.add-code input, .add-code textarea {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;  
}

.add-code ul, .display-item ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.add-code ul li {
  width: calc(50% - 50px);
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

.add-code form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 2px;
  min-width: 88px;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}

.openModalBtn {
    color: #fff;
    background-color: #008768;
    border-color: #008768;
    transition: all 0.2s ease-in-out;
}

.openModalBtn:hover {
  transform: translateY(-5px);
}

.primary-btn-ghost {
  border: 1px solid #50E3C2;
  background: transparent;
  color: #50E3C2;
}

.primary-btn-ghost:hover {
  background: #50E3C2;
  color: #ffffff;
}

.primary-btn {
  color: #ffffff;
  background-color: #fb1659;
}

.primary-btn:hover {
  color: #fff;
    background-color: #dd114e;
    border-color: #dd114e;
    cursor: pointer;
}

.edit-btn, .submit-btn {
  color: #fff;
  background-color: #083E52;
  border-color: #083E52;
}


button.openModalBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0px;
  min-width: initial;
  font-size: 30px;
  z-index: 9999;
}

.add-code textarea {
  height: 50px;
}

.add-code .preview-panel ul {
  display: block;
}

.preview-panel ul li {
  width: auto;
  box-shadow: none;
  list-style-type: disc;
  margin-bottom: 5px;
  margin-left: 20px;
}


img {
  max-width: 100%;
}

/***************/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper {
  position: relative;
}

.category-container {
  position: absolute;
    display: inline-block;
    padding: 5px 15px;
    background-color: #008768;
    color: #ffffff;
    border-radius: 30px;
    font-size: 12px;
    right: 0;
    top: 0;
}

.wrapper h3 {
  max-width: 80%;
}

.nav-link.active {
  background-color: #083e52 !important;
}

a.nav-link {
  color: #083e52; 
}

#upload-progress {
  border: 1px solid #083e52;
  width: 100%;
  margin-bottom: 20px;
  height: 20px;
  display: none;
}

#upload-indicator {
  width: 0%;
  background-color: #008768;
  height: 100%;
  display: block;
}

#upload-percentage {
  width: 100%;
  display: none;
}

.category-list:hover, .category-list label:hover {
  cursor: pointer;
}

.category-list input {
  visibility: hidden;
}

.category-list label {
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
}

.category-list:focus, .category-list:hover {
  background-color: #073e52;
  color: white;
  outline: none;
}
pre {
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: .25rem;
}

.pagination {
  justify-content: center;
}

.pagination li {
  padding: 5px 10px;
  border: 1px solid #dadada;
  margin: 2px;
}

.pagination li:hover {
  cursor: pointer;
}

.active {
  background-color: #008768;
  border-color: #008768;
  color: #ffffff;
}

pre code {
  font-family: monospace !important;
  font-size: 16px;
}

.modal-container {
  position: relative;
}

.close-btn {
position: absolute;
top: -25px;
right: 9%;
color: #ffffff;
background-color: #333333;
height: 50px;
padding: 6px;
font-size: 20px;
width: 50px;
text-align: center;
border-radius: 50%;
border: 3px solid #ffffff;
}

.display-snippet:hover {
  -webkit-box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0,0,0,0.30);
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0,0,0,0.30);
}

.hidden {
  display: none;
}